
<div class="row">
	<div class="col-md-8">
		<h1> Primera Comunion </h1>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<div class="btn pull-right">
		Metedo de pago
		.
		.
		<a href="http://localhost:3000/users/sign_in" class="btn btn-primary btn-lg active" role="button">Paypal</a>
		</div>
	</div>

	
	
<div>




























    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%=  pages_index_path %>">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="<%= pages_contact_path %>">Bautizo</a>
                    </li>
                     <li>
                        <a href="<%= pages_about_path %>">Primera comunion </a>
                    </li>
                    <li>
                        <a href= "<%= pages_fiesta_path %>">Fiestas </a>
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Album</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                
                    <!--<img class="img-responsive" src="" alt="">-->
                    <%= image_tag "imagensinis/c2.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <!--<img class="img-responsive" src="c1." alt=""> -->
                    <%= image_tag "imagensinis/c3.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="">
                   <!-- <img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                   <%= image_tag "imagensinis/c4.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                   <!-- <img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                   <%= image_tag "imagensinis/c5.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                   <!-- <img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                     <%= image_tag "imagensinis/c12.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <!-- <img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                      <%= image_tag "imagensinis/c7.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <!--<img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                      <%= image_tag "imagensinis/c8.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <!-- <img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                      <%= image_tag "imagensinis/c9.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <!-- <img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                      <%= image_tag "imagensinis/c10.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <!-- <img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                      <%= image_tag "imagensinis/c11.jpg" %>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <!-- <img class="img-responsive" src="http://placehold.it/400x300" alt=""> -->
                    

                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        </div>

        <hr>

        
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Imagine Party 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>