<!DOCTYPE html>
<html>
<head>
  <title>Blog1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#E6E6FA">
   

<nav class= "navbar navbar-inverse" style="backogrund-color:black">
<div class="container-fluid">
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">




	<% if user_signed_in? %>
	<li>
	<a href="<%= destroy_user_session_path %>" data-method='delete'>
	salir
	</a>
	</li>
	<% else %>
	<li>
	<a href="<%=  pages_index_path %>">
	Home
	</a>
	</li>
	<li>
	<a href="<%= new_user_registration_path %>">
	Registro
	</a>
	</li>
	<li>
	<a href="<%= new_user_session_path %>">
	Login
	</a>
	</li>
	<li>
	<a href="<%= pages_about_path %>">
	Eventos
	</a>
	</li>
	<li>
	<a href="<%=  pages_contact_path %>">
	Bautizos
	</a>
	</li>
	<% end %>

	</ul>

	</div>
	</div>
	</nav>

<%= yield %>
<!--<footer>
            <div class="redes_sociales"><span style="font-style: normal; font-variant: normal; font-weight: 300; font-stretch: normal; font-size: 13px; line-height: 16px; font-family: &quot;Oswald Light&quot;, &quot;Arial Narrow&quot;, Arial, sans-serif; color: rgb(168, 218, 253); padding: 0px 5px;">Síguenos en: </span><a href="https://www.facebook.com/Imagina-Party-Planner-Monterrey-852122858144639/photos/?tab=album&album_id=1129843823705873"><img src="http://www.elnorte.com/libre/imgdiseno/footer/ic_rs_facebook.png"></a><a href="https://twitter.com/elnortecom"><img src="http://www.elnorte.com/libre/imgdiseno/footer/ic_rs_twitter.png"></a><a href="https://instagram.com/elnorte/"><img src="http://www.elnorte.com/libre/imgdiseno/footer/ic_rs_instagram.png"></a></div>

        </footer> -->

    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

 
</body>
</html>
